.bookButton {
  margin: 0 auto;
  width: 133px;
  button {
    width: 133px;
    background-color: $site-blue;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    border-style: none;
  }
}
