.dayLog {
  width: $content-width;
  min-height: 212px;
  margin: 0 auto;
  padding-bottom: 70px;

  span {
    font-family: proxima-nova, sans-serif;
    font-size: 60px;
  }
  hr {
    width: 177px;
    border: 2px solid;
    margin-bottom: 37px;
  }
  p {
    word-wrap: normal;
    font-family: gill-sans-nova, sans-serif;
  }
}

@media only screen and (max-width: 900px) {
  .dayLog {
    width: 95%;
  }
}
